[2012-01-15 18:49] thom4parisot opened #1 "Finalize Bootstrap integration"
Because currently, **variables** are missing so `type.less` is broken.

[2012-01-21 17:49] #1 closed, assigned to nobody

[2012-01-21 18:00] thom4parisot opened #2 "Header"

[2012-01-21 18:00] thom4parisot opened #3 "Home : News"

[2012-01-21 18:00] thom4parisot opened #4 "Home : Highlighted Talk"

[2012-01-21 18:01] thom4parisot opened #5 "Stay Informed Block"

[2012-01-21 18:01] thom4parisot opened #6 "Partners Block"

[2012-01-21 18:01] thom4parisot opened #7 "About Block"

[2012-01-21 18:02] thom4parisot opened #8 "Footer"

[2012-01-26 22:05] DirtyF commented on #1
what about upgrading to bootstrap 2.0 to get native responsive features ?

[2012-01-27 08:33] thom4parisot commented on #1
Could be a good thing. Foundation is great too (and very simple).

On Thu, Jan 26, 2012 at 11:05 PM, Frank Taillandier <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement et performances Web
http://case.oncle-tom.net/  @oncletom http://twitter.com/oncletom
Mobile : +336 08 40 35 49

[2012-01-27 10:12] DirtyF commented on #1
The new builder is interesting :
http://markdotto.com/bs2/docs/download.html

[2012-02-05 17:12] thom4parisot opened #9 "Improved header"
The header is working but done with Bootstrap philosophy.

It could be improved to match the original design by @desbenoit.

[2012-02-05 17:21] thom4parisot opened #10 "Standard Content Page"
Any design there?

[2012-02-05 17:22] thom4parisot opened #11 "Conferences Sidebar"

[2012-02-05 17:22] thom4parisot opened #12 "Conference Content Page"

[2012-02-26 10:19] #9 closed, assigned to nobody

[2012-02-26 10:21] thom4parisot opened #13 "Move authors page"
Moving from WP Authors to speakers content type.

[2012-02-26 10:40] thom4parisot opened #14 "Content Page"
Forked from conference content.

[2012-02-26 11:01] desbenoit opened #15 "Restez informer : contenu"
Le lien enveloppe doit avoir la mention "Newsletter" et doit pointer vers http://sudweb.us2.list-manage.com/subscribe
Merci !

[2012-02-26 11:03] desbenoit opened #16 "Restez informer : forme"
Répartir horizontalement les éléments du restez informer.

Merci !

[2012-02-26 11:04] desbenoit opened #17 "Fonts"
Mettre en place les polices de caractères.

Merci !

[2012-02-26 11:07] rudyrigot opened #18 "Ajouter deux champs "Heure début" et "Heure fin" sur le type de données "Conférence""
Je pense que c'est pas la peine de mettre un jour, puisqu'il dépend du type de conférence (qui est déjà contribuable)

[2012-02-26 11:12] rudyrigot opened #19 "Mettre en ligne le type "Orateur", en ajouter un champ au type de données "Conférence""

[2012-02-26 11:14] rudyrigot opened #20 "Développer la page "Sponsors""
Pour l'instant, y'a que la nav ! :)

[2012-02-26 11:15] desbenoit opened #21 "Participer"
Diviser la "page" participer actuelle en une page d'accueil + des sous-pages :

M'inscrire

Convaincre mon boss

Venir à Toulouse

Venir à Sud Web (Tout vers une même page avec des ancres pour les différents lieux)
- Le vendredi : Salle du Sénéchal
- Le vendredi soir : Repas communautaire
- Le Samedi : Epitech Toulouse

Dormir à Toulouse

Merci !

[2012-02-26 13:40] thom4parisot commented on #15
Ce lien renvoie vers une page 404. Tu pourrais me passer un lien qui continue à fonctionner dans le temps ?

[2012-02-26 13:49] desbenoit commented on #15
Cela devrait sans doute mieux marcher avec cela. http://eepurl.com/dKjaE

[2012-02-26 15:22] DirtyF commented on #15
Menu réseaux mis à jour.

[2012-02-26 15:22] #15 closed, assigned to DirtyF

[2012-02-26 15:27] thom4parisot opened #22 "Participer dans le footer -> Newsletter"
Changer l'intitulé

[2012-02-26 15:28] DirtyF commented on #22
Libellé de lien corrigé.

[2012-02-26 15:28] #22 closed, assigned to DirtyF

[2012-02-26 17:19] DirtyF opened #23 "Define the language of a talk"
One can be able to specify the language of a given talk

[2012-02-26 22:23] DirtyF opened #24 "Analytics tracking"
Don't forget to add the Google Analytics code tracking before going online.

It could be done the simplest way or with this lind of plugin :
http://wordpress.org/extend/plugins/google-analytics-for-wordpress/

[2012-02-27 09:24] goulvench commented on #18
Ce n'est pas la peine pour nous mais si on passe sur 2 jours de
confrences, on en aurait besoin. J'avais pens utiliser les catgories

## Wordpress pour lister les confrences d'un jour particulier sinon.

Goulven Champenois

2012/2/26 Rudy Rigot <
reply@reply.github.com

[2012-02-27 09:51] rudyrigot commented on #18
Ah bah, bien vu ! :)

##

2012/2/27 goulvench <
reply@reply.github.com

[2012-02-27 10:07] thom4parisot commented on #18
On est dj sur 2 jours d'vnements.

Dans la page programme, on a besoin de pouvoir lister ce qu'il se passe le
vendredi, et le samedi.
Par contre on n'a pas besoin de l'heure de fin : a dpend du format  et
comme pour l'instant au niveau des labos on s'en fiche puisqu'on les
indiquera  titre informatif, a va.

2012/2/27 goulvench <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement e

[2012-02-27 10:07] thom4parisot commented on #18
Ah ben la réponse par mail fait sauter les accents. bonjourunicode.com !

[2012-02-27 10:09] rudyrigot commented on #18
Oui, oui, 2 jours d'vnements, mais un jour de _confrence_ ; du coup je
disais qu'on pouvait diffrencier sur le type de sance, mais Goulven a
raison : le jour o on a 2 jours de _confrence_, le systme est caduque.

Par contre, bien vu pour l'heure de fin, je vous laisse voir, du coup.

##

2012/2/27 Oncle Tom <
reply@reply.github.com

[2012-02-27 10:14] thom4parisot commented on #18
Ça coûte pas grand chose en fait : j'ai créé un type de contenu "Journée", parce qu'on s'est rendu compte avec Frank que chaque jour se passe dans un lieu différent.

Et itou pour la soirée communautaire en fait, qui est un élément de programme (journée) associée à un lieu (inconnu encore).

[2012-02-27 10:17] rudyrigot commented on #18
Ok, not.

2012/2/27 Oncle Tom <
reply@reply.github.com

[2012-02-27 15:05] Aymkdn opened #25 "Enlever "Proposez un sujet""
Dans le header on a le "Proposez un sujet !"... seulement ce n'est plus d'actualité, donc on peut l'enlever.
Merci

[2012-02-27 15:09] thom4parisot commented on #25
Déjà fait par @DirtyF dans a5644b257ce30258d179ba13983b2c71ba82acec.

[2012-02-27 15:09] #25 closed, assigned to DirtyF

[2012-02-27 16:00] Aymkdn opened #26 "Problème de rendu sur les mobiles (320px)"
J'ai testé le site avec mon téléphone Android (avec le navigateur de base, mais aussi Firefox et Dolphin HD - 320x554), et également avec Safari sur mon iPod (3ème génération - 320x480), et voici ce qu'il se passe quand on clique sur un lien (que ce soit Participer, Programme, ....) : http://img11.hostingpics.net/pics/70316720120227164819.jpg

[2012-02-27 16:35] thom4parisot opened #27 "Conférence multi-formats : 1 ou plusieurs conf' ?"
Quand une conf' est retenue pour un LT et un labo, qu'est-ce qu'on fait :
- 1 contenu associé à LT et Labo ?
- 1 contenu associé à LT et 1 contenu associé à Labo ?

[2012-02-27 16:36] thom4parisot commented on #27
Hein @DirtyF, @rudyrigot, @desbenoit ou @loicm ?

[2012-02-27 16:37] desbenoit commented on #27
1 contenu associé LT + 1 Labo IMHO

[2012-02-27 16:39] loicm commented on #27
J'aurais plutôt vu ça sous 2 contenus différents car ce sont 2 sessions différentes avec des description et contenu différents.

[2012-02-27 16:39] rudyrigot commented on #27
Ouep, 2 contenus pour moi, chacun avec un lien vers l'autre, pourquoi pas.

Il y a de quoi expliquer la pertinence de chacun diffremment.

##

2012/2/27 desbenoit <
reply@reply.github.com

[2012-02-27 16:43] thom4parisot opened #28 "Afficher le nom du speaker, et non de l'auteur WordPress"
Page d'accueil > élément de programme.

[2012-02-27 16:46] DirtyF commented on #27
Pareil que @loicm

[2012-02-27 18:38] DirtyF opened #29 "Background image for sidebar missing"
Line 230 in the CSS file there's a mention of assets/img/sidebar_bg.png that is not present in the img folder.

[2012-02-27 18:56] DirtyF commented on #21
M'inscrire c'est pas la même page que description on est d'accord ?

[2012-02-27 19:09] DirtyF commented on #21
Les pages ont été crées et le contenu de la page Participer a été migré dans la page Venir à Toulouse.

[2012-02-28 11:56] thom4parisot commented on #27
OK merci ! 1 conf par format donc.

[2012-02-28 11:56] #27 closed, assigned to thom4parisot

[2012-02-28 14:07] goulvench commented on #27
Je pencherai pour un contenu par format, avec des liens entre les 2. a

## simplifiera l'affichage d'une navigation "confrence prcdente/suivante".

Goulven Champenois

2012/2/27 Oncle Tom <
reply@reply.github.com

[2012-02-28 15:36] #26 closed, assigned to goulvench

[2012-02-28 15:36] #29 closed, assigned to goulvench

[2012-02-28 15:39] thom4parisot commented on #24
This is definitely a good plugin. You can install and configure it with the proper credentials (it uses OAuth to link GA account and the blog – no more UA copy/paste anymore).

[2012-02-28 15:40] thom4parisot commented on #17
Tu me confirmes que c'est OK pour toi @desbenoit ?

[2012-02-28 15:41] thom4parisot commented on #16
OK pour toi @desbenoit ?

[2012-02-28 15:41] thom4parisot commented on #20
@desbenoit , il y a une présentation spécifique pour cette page ?

[2012-02-28 15:43] #2 closed, assigned to thom4parisot

[2012-02-28 15:43] #3 closed, assigned to thom4parisot

[2012-02-28 15:43] #4 closed, assigned to thom4parisot

[2012-02-28 15:43] #5 closed, assigned to goulvench

[2012-02-28 15:43] #6 closed, assigned to goulvench

[2012-02-28 15:43] #7 closed, assigned to thom4parisot

[2012-02-28 15:43] #8 closed, assigned to thom4parisot

[2012-02-28 16:23] desbenoit commented on #20
Je la prépare dans la seconde !

[2012-02-28 16:26] desbenoit commented on #17
Je ne vois que du Tohama depuis mon firefox & mon opéra.

[2012-02-28 16:29] desbenoit commented on #16
Le soulignement de survol devient un surlignement sur les flêches newsletter, twitter, lanyrd et google+

Je me suis mal exprimé pour l'horizontal : est-il possible d'harmoniser les marges entre tous les éléments de manière à ce que le dernier (google plus) soit à une marge équivalente du bord que le premier ?

[2012-02-28 16:34] thom4parisot opened #33 "Page Programme"
@goulvench tu peux t'occuper de l'intégration ?

De mon côté je me chargerai de rendre ça dynamique en générant ce qu'il faut via WordPress.

Merci :-)

[2012-02-28 16:37] DirtyF commented on #24
OK I installed the plugin. I'll look into the config tonight.

[2012-02-29 15:14] thom4parisot commented on #28
Fait dans d57f63f643139f333c175634212057e1b7275638

[2012-02-29 15:14] #28 closed, assigned to thom4parisot

[2012-02-29 15:31] thom4parisot commented on #19
Yo @rudyrigot, c'est mis. Tu trouveras une boîte "Orateurs" (Speaker pqu'y a pas encore la traduction) à côté de chaque page d'admin des conférences). Et tu peux en choisir plusieurs !

[2012-02-29 15:32] thom4parisot commented on #18
Y'a un champ "Heure de début". Et y'a un autre champ "journée", donc.

En ligne !

[2012-02-29 15:32] #18 closed, assigned to thom4parisot

[2012-02-29 16:24] thom4parisot commented on #13
Partially done – need to integrate the program list.

[2012-02-29 17:22] thom4parisot commented on #17
Ça devrait être un peu mieux ;-)

[2012-03-01 11:04] oncletom opened #34 "Doc Refresh"
Reflect changes in the doc:
- plugin dependency
  - [Posts 2 Posts](http://wordpress.org/extend/plugins/posts-to-posts/)
  - [Advanced Custom Fields](http://wordpress.org/extend/plugins/advanced-custom-fields/)
- content types usage
  - Speaker (having one or many talks)
  - Talk (handled by one or many speakers, for a given Schedule event)
  - Schedule (located in one Place)
  - Place

[2012-03-01 19:09] DirtyF opened #36 "Display speaker thumbnail on the speaker page"
When I add the speaker's profile pic and attach it to a speaker page in the admin, I guess it should automatically display it on the speaker page on the website, no ?

[2012-03-01 19:17] rudyrigot commented on #19
J'allais faire, mais je vois que ça a déjà été fait !

[2012-03-01 19:49] goulvench opened #37 "Fix link to sponsorship file"
Current link has # for a href

[2012-03-01 19:55] DirtyF opened #38 "Install contact plugin"

[2012-03-01 19:56] DirtyF opened #39 "configure contact page"

[2012-03-01 19:57] DirtyF opened #40 "Display sponsor's logos"

[2012-03-01 19:57] DirtyF opened #41 "Add image in the header"

[2012-03-01 20:12] thom4parisot commented on #19
Pas sur tous je crois ... Je me suis arrt  la moiti.
Le 1 mars 2012 20:18, "Rudy Rigot" <
reply@reply.github.com>
a crit :

[2012-03-01 20:17] goulvench commented on #40
Use the featured image in each post

[2012-03-01 20:28] goulvench commented on #40
We need to uncrop the logo though

[2012-03-01 20:53] #38 closed, assigned to DirtyF

[2012-03-01 20:53] #24 closed, assigned to DirtyF

[2012-03-01 21:15] DirtyF opened #42 "Configurer le plugin pour le cache"
http://www.satollo.net/plugins/hyper-cache

[2012-03-01 22:52] rudyrigot commented on #41
Bon, ok, j'ai tenté des trucs avec JS fiddle, et si on est ok pour que le faire en JS soit acceptable, voila ce que ça donne : http://jsfiddle.net/rudyrigot/kFqSj/25/

(j'espère que c'est JS fiddle qui merde et pas l'API flickr, mais parfois, il faut faire "Run" ou Ctrl+S plusieurs fois pour que ça marche)

Par contre --> on ne peut pas contraindre une taille, on ne peut que prendre une d'origine

[2012-03-02 08:49] thom4parisot commented on #42
Fait.

[2012-03-02 08:49] #42 closed, assigned to DirtyF

[2012-03-02 08:59] thom4parisot commented on #41
J'ai mis à jour le Fiddle, pour corriger le bug : le total est supérieur au nombre de photos retournées (tronqué à 100).

[2012-03-02 09:01] thom4parisot commented on #19
@DirtyF a terminé l'action pendant le point hebdo hier. Tu confirmes (et t'as récupéré ta tondeuse) ?

[2012-03-02 09:20] thom4parisot opened #43 "Talk time is not mandatory"
As told by @DirtyF, in workshops we don't have any schedule for talks. So let's display it in front only if the data is available.

[2012-03-02 09:53] #43 closed, assigned to thom4parisot

[2012-03-02 11:21] thom4parisot commented on #33
Le contenu est généré.

[2012-03-02 11:22] thom4parisot opened #44 "Fixing Talks floats"
When display the talks for a given day, they are messy. @goulvench I guess you will be quicker than me reguarding this point.

Thanks!

Related to #33

[2012-03-02 11:24] rudyrigot commented on #41
Cool, merci !

[2012-03-02 13:18] goulvench commented on #33
Cool, je rcupre a et je colle les styles dessus. J'avais presque termin
mais je n'tais pas sr de comment a allait tre possible de gnrer a,

## notamment le double-track.

Goulven Champenois

On Fri, Mar 2, 2012 at 12:21 PM, Oncle Tom <
reply@reply.github.com

[2012-03-02 13:22] thom4parisot opened #45 "News Archive"

[2012-03-02 13:24] thom4parisot commented on #37
Solution: Admin > Media > Upload the sponsorship file.

Then copy/paste its URL in the menu, as a replacement for `#`.

[2012-03-02 13:25] #11 closed, assigned to thom4parisot

[2012-03-02 13:25] #12 closed, assigned to thom4parisot

[2012-03-02 13:29] thom4parisot commented on #33
C'est dans ma branche `speaker` ; je la merge sur le master pour que tu la récupères plus facilement. – et c'est fait !

[2012-03-02 13:31] thom4parisot commented on #33
Au passage, j'ai installé un plugin de sauvegarde de base de données. Ça facilite la création de dumps pour les importer en local.

[2012-03-02 14:35] DirtyF commented on #19
Toutes les conférences ont été relié avec des orateurs.

Et oui j'ai bien récupéré ma tondeuse, c'est fou comme un petit affutage de lame change la vie.

[2012-03-02 14:38] DirtyF commented on #41
encore plus top si on peut limiter à un album car je suis pas sur que
d'afficher les photos de la soirée pizza soit pertinent.

On Fri, Mar 2, 2012 at 12:24 PM, Rudy Rigot <
reply@reply.github.com

##

Frank Taillandier

[2012-03-02 14:43] thom4parisot opened #46 ".illustration is broken on home"
A picture used a illustration thumbnail on home are not floating properly.
I'm a bit lost in the class naming (we also use "thumbnails" in a wide format for talk and speaker).

Classname are applied according to thumbnail width.

[2012-03-02 15:18] thom4parisot commented on #41
On veut afficher les photos prises par les participants de Sud Web ?

[2012-03-02 15:27] rudyrigot commented on #41
Tout a est possible facilement avec l'API FlickR :
http://www.flickr.com/services/api/

Il suffit de dcider :
1. toutes les photos prises par SudWeb ?
2. toutes les photos prises par SudWeb dans l'album "Confrences"
   seulement
3. ou toutes les photos prises par tout le monde, et avec "sudweb" ou
   "sudweb2011" comme tag

Dites-moi ce que vous voulez, et je modifierai le JS fiddle en fonction.

[2012-03-02 15:27] rudyrigot commented on #19
Juste histoire d'avoir une deuxième paire d'yeux, je referai un passage entier ce week-end sur toutes les contribs Speakers / Conférences dans le week-end, pour être sûr que tout est à jour par rapport à tous les mails qu'on a reçu (parce qu'il y en a tellement eu d'un coup, que je suis un peu paumé)

[2012-03-02 17:26] #13 closed, assigned to thom4parisot

[2012-03-02 17:48] thom4parisot commented on #19
Ça roule.

Pour info, j'ai saisi deux orateurs (Pablo et Rachel) pour montrer l'exemple.
Les vignettes sont automatiquement retaillées en fonction des endroits où elles sont utilisées.

[2012-03-02 17:51] thom4parisot commented on #45
Livré.

[2012-03-02 17:53] thom4parisot commented on #36
Normally done: the picture has to be managed as `Image à la une` (upload or select an image, then `Insérer comme image à la une` and not `Insérer dans l'article`.

[2012-03-02 17:53] thom4parisot commented on #21
Ça peut être géré uniquement comme du contenu via l'admin de WordPress, vous me confirmez ?

[2012-03-02 18:23] thom4parisot commented on #20
Je génère le code. Ça serait super cool si @goulvench pouvait faire la partie CSS !

[2012-03-02 18:23] #10 closed, assigned to goulvench

[2012-03-02 18:24] #14 closed, assigned to thom4parisot

[2012-03-02 18:25] thom4parisot commented on #40
Au besoin, tu peux créer un format supplémentaire type (`sponsor-logo`) dans `functions.php` (y'a déjà un exemple) et l'appeler avec `the_post_thumbnail('sponsor-logo')`. Le troisième paramètre permet de cropper (ou pas) le logo.

[2012-03-02 18:30] DirtyF commented on #39
Simple form added on the contact page

[2012-03-02 18:30] #39 closed, assigned to DirtyF

[2012-03-02 18:33] DirtyF opened #47 "Install a map plugin"

[2012-03-02 18:44] thom4parisot commented on #41
Fait : drivé par microdata.

[2012-03-02 20:54] DirtyF commented on #47
testing Comprehensive Google Map Plugin

[2012-03-02 20:57] DirtyF commented on #19
du coup ça donne des résultats un peu space :
http://sudweb.fr/2012/speaker/pablo-pernot/

[2012-03-02 22:39] goulvench opened #49 "Missing lang attribute when Talk/speaker descriptions"

[2012-03-02 22:39] goulvench opened #50 "Missing lang attribute when talk/speaker descriptions are not in the site language"

[2012-03-02 22:40] goulvench commented on #49
Hit send before finishing typing, see #50 for complete title

[2012-03-02 22:40] #49 closed, assigned to nobody

[2012-03-02 22:54] goulvench opened #51 "Page title should use H1, not H2"

[2012-03-03 07:31] #46 closed, assigned to goulvench

[2012-03-03 07:31] #51 closed, assigned to nobody

[2012-03-03 09:03] thom4parisot commented on #50
Done, but can't commit through airport Wi-Fi.

[2012-03-03 17:40] DirtyF commented on #41
Rudy,

Je suis d'avis de partir d'abord sur les photos des confs de Thanh.

L'ID du set des conférence est 72157627495399296 (http://www.flickr.com/photos/sudweb/sets/72157627495399296/)

Il me semble qu'il faut faire appel à cette méthode
http://www.flickr.com/services/api/flickr.photosets.getPhotos.html

[2012-03-03 17:47] DirtyF commented on #40
Si j'ai bien suivi j'ai donc ajouté dans le fichier

add_image_size('sponsor-logo', 150, 150, false);

[2012-03-04 03:18] thom4parisot commented on #40
Bah si c'est pour du 150x150, c'est la taille par défaut du format `thumbnail` (valeur par défaut ou que j'ai mise dans Réglages > Médias) – sous-entendu, y'aurait même pas besoin de la créer.

[2012-03-04 03:32] thom4parisot commented on #50
C'est fait, et mis en ligne ! Tu me confirmeras que ça correspond ?

[2012-03-04 08:29] goulvench commented on #50
Je vois bien les attributs dans le code source, mais ils sont vides. Il
devraient contenir `fr` ou `en`. D'ailleurs il faut le mettre  chaque fois
que le titre et la description d'un lment anglais est affich (en liste
dans le programme, en alatoire sur la home).

Je ne sais pas ce qui peut bloquer, peut-tre la rcupration de

## l'identifiant de post ?

Goulven Champenois

On Sun, Mar 4, 2012 at 4:

[2012-03-04 09:53] DirtyF commented on #40
J'ai pas vraiment regarder la taille de vignette qu'il fallait générer,
c'était surtout pour éviter le recordage automatique de la photo.
Maintenant je sais comment ça marche, si on doit changer la taille, on la
changera.

2012/3/4 Oncle Tom <
reply@reply.github.com

##

Frank Taillandier

[2012-03-04 20:19] desbenoit opened #52 "bandeau sponsors"
Changer le fond des bandeaux sponsors de gris à blanc (question d'esthétisme) par rapport aux logos à fond blanc.

Merci :)

[2012-03-04 22:54] goulvench opened #53 "Indicate talk type on speaker list page"
Because if a speaker gives both a talk and workshop with the same name, there are two links with identical anchor text and different destinations.

[2012-03-04 23:04] goulvench commented on #44
I believe that these blocks should simply _not_ float, because presenting
chronological items side by side suggests that they happen simultaneously,
which is not the case here.

The easiest solution is therefore to just remove float declarations in the

## CSS.

Goulven Champenois

On Fri, Mar 2, 2012 at 12:22 PM, Oncle Tom <
reply@reply.github.com

[2012-03-04 23:22] DirtyF commented on #47
Seems to do the job.

[2012-03-04 23:22] #47 closed, assigned to DirtyF

[2012-03-04 23:49] #52 closed, assigned to nobody

[2012-03-05 00:48] rudyrigot commented on #41
Fait dans le JSFiddle : http://jsfiddle.net/rudyrigot/kFqSj/36/

Ce qui a changé :
- j'ai implémenté ta correction d'erreur ("total" remplacé par "photo.length")
- remplacé le "var userId" par un "var photosetId" qui va être plus utile pour notre cas (du coup, à remplacer dans vos microdata, j'imagine)
- remplacé la valeur de la var "url", du coup
- et remplacé tous les "data.photos" par "data.pho

[2012-03-05 01:01] thom4parisot commented on #50
Ils sont vides parce qu'ils n'ont pas dû être renseignés du côté de la conf.

[2012-03-05 01:02] thom4parisot commented on #44
Ok so let's show them the same way we display the global schedule (so removing the floating).

[2012-03-05 01:07] thom4parisot opened #56 "Sorting by date custom field"
Like `day` for `Schedule` and `schedule` field for `Talk` content. As pointed out by @DirtyF

[2012-03-05 03:12] goulvench commented on #16
@desbenoit j'ai un correctif pour le soulignement qui devient surlignement. Pour l'alignement horizontal, à quel largeur écran veux-tu que l'alignement soit différent, quand c'est sur fond jaune, ou quand le site s'affiche en plus de 940px ?

[2012-03-05 03:28] goulvench commented on #37
Yes, but how to avoid hardcoding this URL into the theme? Using theme

## options http://codex.wordpress.org/Theme_Development#Theme_Options?

Goulven Champenois

On Fri, Mar 2, 2012 at 2:24 PM, Oncle Tom <
reply@reply.github.com

[2012-03-05 05:35] thom4parisot commented on #37
It will be hardcoded too as a database setting.

The only thing which is interesting this way is we would manage the file and its (implicit) URL in the same one place.
For now, it's quicker to do "my way". We can improve it later with a theme option.

[2012-03-05 06:51] desbenoit commented on #16
Merci !

Quand c'est en plus de 940 s'il te plait.

Le 5 mars 2012  04:12, Goulven Champenois a crit :

##

Sbastien Desbenoit
twitter :  @desbenoit
blog : http://internetetmoi.fr
mobile :  +33 (0)6 98 54 92 93

[2012-03-05 08:29] loicm commented on #41
Si c'est que ça je vous review++ car ça marche plutôt bien :)

[2012-03-05 08:29] #41 closed, assigned to thom4parisot

[2012-03-05 08:32] loicm commented on #50
Je ne vois pas où cela doit être renseigné, tu peux me donner l'indication Thomas ? Je peux m'occuper de saisir ensuite chaque langue pour chaque conférence.

[2012-03-05 08:37] loicm commented on #45
Je vois bien les actualités dans la rubrique associée, donc c'est tout bon pour moi ! merci :)

[2012-03-05 08:37] #45 closed, assigned to thom4parisot

[2012-03-05 08:54] loicm commented on #37
File uploaded, its URL is : http://sudweb.fr/2012/wp-content/uploads/2012/03/dossier-partenariat-2012.pdf

I can set the URL in the theme but I think it's not the way Thomas wanted us to do?

[2012-03-05 10:55] goulvench commented on #50
C'est fait, je pense que ça ne s'affichait pas parce qu'on a rajouté le champ après avoir saisi les contenus, et la récupération du champ ne trouvait pas de données en base.

[2012-03-05 10:55] #50 closed, assigned to nobody

[2012-03-05 15:34] thom4parisot commented on #50
C'est exactement ça :-) Merci !

[2012-03-05 15:42] thom4parisot commented on #37
Ah ok j'avais pas vu en fait que c'était hardcodé dans le thème … je pensais que c'était un élément de menu. Mea culpa (je comprends mieux la remarque de Goulven).

On fait comme ça pour l'instant, même si c'est pas beau.

[2012-03-05 15:42] #37 closed, assigned to nobody

[2012-03-05 17:48] thom4parisot commented on #56
@DirtyF: done for a Talk but not yet for a Schedule as it's impossble to sort on two custom fields at once (day, and starting hour). The solution would be to have a unique datetime field. It's not very problematic right now.

[2012-03-05 17:48] #56 closed, assigned to thom4parisot

[2012-03-05 17:50] #33 closed, assigned to thom4parisot

[2012-03-05 18:13] thom4parisot commented on #53
Tell me if it's OK.

[2012-03-05 18:13] #19 closed, assigned to thom4parisot

[2012-03-05 18:15] #44 closed, assigned to goulvench

[2012-03-05 18:15] #36 closed, assigned to thom4parisot

[2012-03-05 18:16] #40 closed, assigned to goulvench

[2012-03-05 18:18] thom4parisot opened #59 "Sponsors Listing broken"
Sponsors listing at the bottom of the page is broken: they seem to float on the right.

Can be seen on: http://sudweb.fr/2012/

cc @DirtyF

[2012-03-05 18:20] thom4parisot opened #60 "Missing margins on thumbnails"
As seen on: http://sudweb.fr/2012/programme/

Right margin should be equal to left margin.

[2012-03-05 18:22] thom4parisot commented on #20
Bon en fait j'avais pas les yeux en face des trous. C'est en ligne.

[2012-03-05 18:22] #20 closed, assigned to goulvench

[2012-03-05 18:23] thom4parisot opened #61 "Lightning Talks scheduling missing"
Could you provide the time for each LT please?

Cf. http://sudweb.fr/2012/schedule/conferences/

[2012-03-05 18:24] thom4parisot opened #62 "Removing pictures placeholders"
Before pushing the website live, placeholders have to be removed.

[2012-03-05 19:04] goulvench commented on #60
That's because they're absolutely positioned, they can't shift content around.

@desbenoit: Do these images have to be larger than those on the schedule page, http://sudweb.fr/2012/schedule/conferences/ (150 by 150 instead of 60 by 60)?

[2012-03-05 20:09] desbenoit commented on #60
Yes, i'd like too.

Is it possible to split in two columns?

Le 5 mars 2012  20:04, Goulven Champenois a crit :

##

Sbastien Desbenoit
twitter :  @desbenoit
blog : http://internetetmoi.fr
mobile :  +33 (0)6 98 54 92 93

[2012-03-05 20:13] DirtyF commented on #59
I think It's relative to the merge I did yesterday https://github.com/sudweb/wp-sudweb-theme/pull/55

[2012-03-05 20:16] DirtyF commented on #61
No problem sir, but I'm not sure if we defined a definitive order for the talks.

[2012-03-05 20:16] desbenoit opened #64 "Interlignage"
Je suis en train de regarder que j'avais baser l'alignement horizontal des textes et du coup les interlignages sur une grille. Est-il possible de reproduire cela sur le site. (au moins sur les pages de contenus).

Si c'est trop chronophage, est-il possible de pousser l'interlignage des textes de contenus ?

[2012-03-05 20:18] thom4parisot commented on #60
As @goulvench pointed out previously, splitting in 2 columns a single track chronological schedule may cause reading difficulties.

@goulvench maybe the easiest way is to add a CSS class on the block container, to know how much margin title + content should have.

[2012-03-05 20:21] desbenoit commented on #60
Du coup, je trouve la mise en page que j'ai fait super lourde. Je pense qu'il faudrait supprimer les barres rouges et jaunes.

[2012-03-05 20:21] desbenoit commented on #21
Euh, on a un soucis, je ne vois plus le sous menu de participer dans participer mais celui de programme :/

[2012-03-05 21:14] DirtyF commented on #64
@desbenoit si je prend une page de contenu je vois que la police est en 16px et l'interlignage en 19px soit un ratio d'1.1875, on le passe à 1.4 ?

[2012-03-05 21:19] desbenoit commented on #64
S'il te plait.

Le 5 mars 2012  22:14, Frank Taillandier a crit :

##

Sbastien Desbenoit
twitter :  @desbenoit
blog : http://internetetmoi.fr
mobile :  +33 (0)6 98 54 92 93

[2012-03-05 22:05] DirtyF commented on #64
J'ai touché uniquement au texte dans les paragraphes du contenu principal, ça améliore déjà pas mal les choses.

[2012-03-06 00:13] #61 closed, assigned to DirtyF

[2012-03-06 02:10] thom4parisot commented on #61
:-)

[2012-03-06 14:45] thom4parisot opened #65 ""Participer" sidebar"
Display this sidebar instead of the schedule in the case we are reading the "Participer" page, or a child page of it.

[2012-03-06 15:35] thom4parisot commented on #64
Pour référence, commit b2935fb.

[2012-03-06 16:16] goulvench commented on #60
On peut réduire la barre rouge si tu veux, par exemple descendre de 10 à 7px.

[2012-03-06 16:17] desbenoit commented on #60
Ce serait déjà bien.

Le 6 mars 2012 à 17:16, Goulven Champenois a écrit :

[2012-03-06 16:37] #65 closed, assigned to thom4parisot

[2012-03-06 16:38] thom4parisot opened #66 "Home schedule illustration broken"

[2012-03-06 16:45] thom4parisot commented on #60
Est-ce qu'il y a d'autres choses à faire ? @desbenoit c'est toi notre patte créative ;-)

[2012-03-06 16:50] desbenoit commented on #60
Si c'est possible, j'aimerai vraiment que l'on supprime les barres jaunes. En gardant les mêmes interblocs (i.e. rajouter la largeur de la bande jaune dans la marge)

Le 6 mars 2012 à 17:45, Oncle Tom a écrit :

[2012-03-06 19:20] goulvench commented on #66
I've done it too on my branch, see https://github.com/goulvench/wp-sudweb-theme/commit/d002fe0d06e8901306f7de8f7ce3abf88931b8ef

[2012-03-06 22:00] goulvench opened #67 "Page content below the fold on netbooks"
On most netbooks, and on iPads in landscape mode too, the header is so tall that it fills the entire window, and page contents sits just below the fold. Oops.

We should maybe restrict the breakpoint "over 600" to screens taller than 600 pixels too.

[2012-03-07 02:36] goulvench opened #69 "Page title"
It's empty on the homepage, and missing the name of the site on other pages.

[2012-03-07 02:46] goulvench opened #70 "Incorrect excerpt in homepage blocks"
Both "Actualité" and "Programme" excerpts are incorrect, though clicking through leads to the right page. Plus, there should be a link to the post instead of "[...]".

[2012-03-07 18:03] thom4parisot commented on #53
Poussé en live @goulvench.

[2012-03-07 18:09] thom4parisot commented on #69
We will handle it through a SEO plugin.

[2012-03-07 18:09] #69 closed, assigned to thom4parisot

[2012-03-07 18:10] thom4parisot commented on #67
I propose to fix that after launch because it implies some redesign.

[2012-03-07 18:24] thom4parisot commented on #70
I propose to postpone the [...] improvement: it is due to automatic truncation.
It is best for us to have a manual content.

[2012-03-07 18:25] thom4parisot commented on #59
@goulvench, some review is needed please.

[2012-03-08 20:00] DirtyF opened #72 "Post2posts update broke the connection between elements"
Impossible to specify a day for a talk for instance.

[2012-03-08 20:17] goulvench opened #73 "Reuse sponsor page layout for sponsor block"
The current sponsor presentation at the bottom of the page is not very readable, since we don't have the right image size. Reusing the styles on the sponsor page will be the fastest solution.

[2012-03-08 21:12] thom4parisot commented on #72
I'm on it.

[2012-03-08 21:24] thom4parisot commented on #73
Is it something different than #59?

[2012-03-08 21:28] thom4parisot commented on #72
Done. Tell me if it's ok for you.

[2012-03-08 22:58] goulvench opened #74 "Talks must be listed by time"
Currently they appear in the order they were published.

[2012-03-08 23:03] DirtyF opened #75 "Header : mettre le fond jaune pour le call to action, utiliser le fond blanc pour la date"

[2012-03-08 23:04] DirtyF opened #76 "Make main call to action bigger in the header"
Inscription has be be BIGGER

[2012-03-08 23:04] goulvench opened #77 "Underline links in page content"
So that they stand out from regular text

[2012-03-08 23:07] goulvench opened #78 "Use speaker image if a talk has no image"
On pages listing talks

[2012-03-08 23:15] DirtyF opened #79 "Lien Dormir à Toulouse"
Problème au survol (passe sur une ligne)

[2012-03-08 23:16] DirtyF opened #80 "Créer un style pour les liens “Inscrivez-vous” dans les pages"

[2012-03-08 23:19] DirtyF opened #81 "404 for newsletter header"
http://sudweb.fr/2011/blog/themes/sw2011/img/newsletter/top-2012bis.png

[2012-03-08 23:42] goulvench commented on #79
Done

[2012-03-08 23:42] #79 closed, assigned to goulvench

[2012-03-09 03:48] thom4parisot commented on #78
Is it mandatory for launch?

[2012-03-09 12:45] goulvench commented on #59
The layout looked odd with the current number of sponsors (it wasn't broken though). This has been corrected in issue #73 by using the sponsor list page layout instead.

[2012-03-09 12:45] #59 closed, assigned to goulvench

[2012-03-09 12:53] goulvench commented on #67
Having rearranged the header during last night's conference code, it looks like we only need to tweak the pitch and call-to-action placement to reclaim some real estate. @desbenoit, want to look at it yourself or do you prefer that we try it out in a branch and show you what that might look like?

[2012-03-09 16:34] thom4parisot commented on #67
Perfect. Let's focus on the website launch though.

[2012-03-09 16:34] #67 closed, assigned to goulvench

[2012-03-09 16:35] thom4parisot commented on #81
@Aymkdn maybe you have a clue on this?

[2012-03-09 16:38] thom4parisot commented on #74
This was fixed earlier but maybe the fix for #72 was too aggressive.

[2012-03-09 16:45] #74 closed, assigned to thom4parisot

[2012-03-09 18:00] Aymkdn commented on #81
L'aspirateur de site n'a peut tre pas tout copi s'il n'y avait pas de
lien actif. Regardez dans /2011/old/blog/.... si vous trouvez ce que vous
voulez.
Je suis en dplacement sans ordi pour le weekend.

Envoy depuis mon tlphone
Le 9 mars 2012 17:35, "Oncle Tom" <
reply@reply.github.com>
a crit :

[2012-03-09 20:53] desbenoit commented on #78
Nope but we have to supress test images

[2012-03-09 20:54] desbenoit commented on #75
Oh ? Pourquoi ?

[2012-03-09 20:54] desbenoit commented on #59
Ok for me. Good work !

[2012-03-09 20:58] #17 closed, assigned to thom4parisot

[2012-03-09 20:59] #16 closed, assigned to DirtyF

[2012-03-09 21:00] desbenoit commented on #21
Maintenant est-il possible d'utiliser plutôt le style des sous-items ? je trouve que les pavés sont vraiment lourds

[2012-03-09 21:00] #64 closed, assigned to DirtyF

[2012-03-09 21:00] desbenoit commented on #64
Merci !

[2012-03-09 21:01] desbenoit commented on #70
ok.

[2012-03-09 21:45] goulvench commented on #70
Marked as improvement now that the excerpt text is correct and we only need to improve the "read more" functionality. Actually, there's code on the Codex that can do just that kind of thing, we can just copy-paste when we've 5 minutes.
http://codex.wordpress.org/Function_Reference/the_excerpt

[2012-03-10 00:36] thom4parisot commented on #78
It's already planned for website launch. I'll merge that right now.

[2012-03-10 00:36] #62 closed, assigned to thom4parisot

[2012-03-10 00:37] thom4parisot commented on #70
OK so moved to the next milestone.

[2012-03-10 00:38] #53 closed, assigned to thom4parisot

[2012-03-10 00:38] #60 closed, assigned to goulvench

[2012-03-10 00:38] #66 closed, assigned to thom4parisot

[2012-03-10 00:38] #72 closed, assigned to thom4parisot

[2012-03-10 08:57] goulvench commented on #75
On s'est rendus compte que le call-to-action était moins visible que la date, et on s'est dit que c'était pas très logique. Si tu as une autre proposition, n'hésite pas !

[2012-03-10 09:01] goulvench opened #84 "Missing "home" link in main nav"
I tried adding a link to the "home" page but it didn't have the `menu-item-home` class that's required to style it. Any idea why?
If we don't have this link, I need to adjust the margins on odd/even LIs for the 320-480 breakpoint.

[2012-03-10 09:34] DirtyF commented on #84
I would have prefer a breadcrumb. But if we do this we do not want to display the link on the home page.

[2012-03-10 10:19] rudyrigot opened #85 "Smaller logos for silver"
It is in the contract with our sponsors, so i think we'll get some shit if it's not straight.

[2012-03-10 13:39] desbenoit commented on #75
Ah. J'avais regardé les %  de contrastes pour faire cela. Mais si ce n'est pas ok, pas de soucis.

[2012-03-10 20:18] goulvench commented on #84
Considering that the site has no hierarchy to speak of, a home link is the best solution to me.
The CSS already has the appropriate rules to hide the home link for small screens and on the homepage, and adjust menu item width accordingly.
The custom home page doesn't bear the normal classes, that's why the CSS doesn't apply.

[2012-03-10 21:36] DirtyF commented on #73
We have to display sponsors at different sizes :

150px wide for gold sponsors
100px wide for silver sponsors

It implies defining a new image size in the functions.php and updating the loop ?

[2012-03-10 22:23] thom4parisot commented on #73
Totally. We could do programmatic size, like
add_thumbnail_size('sponsor-gold', )

So as it remains convienient to use in templates.

On Sat, Mar 10, 2012 at 3:36 PM, Frank Taillandier <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement et performances Web
http://case.oncle-tom.net/  @oncletom http://twitter.com/oncletom
Mobile : +336 08 40 35 49

[2012-03-10 23:32] #77 closed, assigned to goulvench

[2012-03-10 23:36] #78 closed, assigned to nobody

[2012-03-11 00:00] thom4parisot commented on #78
I broadened the way the thumbnail is retrieved.

The good news: it is transparently applied, and also on talk single page.
It avoids the `if (has_post_thumbnail())` thingy.

[2012-03-11 00:01] thom4parisot commented on #85
@goulvench did the job. Please review it on the frontpage for example.

[2012-03-11 00:02] thom4parisot commented on #80
Why not reusing the `.cta` class?

[2012-03-11 00:38] DirtyF commented on #80
beware of the `.cta` class, it's floating right and cannot be used inline.

[2012-03-11 01:12] thom4parisot commented on #80
So we could use .cta-inline combined to .cta, to cancel float and fitting
our needs?

2012/3/10 Frank Taillandier <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement et performances Web
http://case.oncle-tom.net/  @oncletom http://twitter.com/oncletom
Mobile : +336 08 40 35 49

[2012-03-11 01:48] thom4parisot opened #91 "Styling contact form"

[2012-03-11 11:16] goulvench commented on #73
In [a patch](https://github.com/goulvench/wp-sudweb-theme/commit/a001b00529bfcc417a749f5f8cd0094b52ebe3c8) I created sponsor-logo-or and sponsor-logo-argent sizes, and gave each the appropriate dimensions. The template listing sponsors at the bottom of the page calls the_post_thumbnail('sponsor-logo-'.$type->slug) and it worked as expected, what more do you need?

[2012-03-11 11:23] goulvench commented on #78
## Even better, thanks!

Goulven Champenois

On Sun, Mar 11, 2012 at 1:00 AM, Oncle Tom <
reply@reply.github.com

[2012-03-11 14:12] goulvench commented on #85
In addition, gold sponsors have larger padding values between logo and

## border, to make them stand out more.

Goulven Champenois

On Sun, Mar 11, 2012 at 1:01 AM, Oncle Tom <
reply@reply.github.com

[2012-03-11 14:42] thom4parisot commented on #73
I think we are okay on this point. Are you okay with it @DirtyF?

[2012-03-11 17:51] DirtyF commented on #73
I completely agree with you guys, let's close this issue.

[2012-03-11 17:51] #73 closed, assigned to goulvench

[2012-03-11 20:33] thom4parisot commented on #85
IMHO we can close this issue.

[2012-03-11 20:33] #85 closed, assigned to goulvench

[2012-03-11 20:36] goulvench commented on #84
If we remove the home link altogether, we need to swap `odd` and `even` in style.css so that the menu looks good on iPhone portrait. @oncletom, any idea why adding the home page doesn't have `menu-item-home` in its classes?

[2012-03-11 21:53] DirtyF opened #94 "Wrong headings map on the schedule page"
Each day should be h2 instead of h3 on http://sudweb.fr/2012/programme/

[2012-03-11 22:10] goulvench commented on #94
I'm on it.

[2012-03-11 22:27] #94 closed, assigned to goulvench

[2012-03-12 00:31] goulvench commented on #21
J'ai raccourcit le texte du lien dans le menu (tout en le laissant tel quel dans le titre), il tient maintenant sur 2 lignes. Ça te va comme ça ?

[2012-03-12 00:34] DirtyF commented on #21
Moi ça me va très bien ;)

[2012-03-12 00:35] #21 closed, assigned to DirtyF

[2012-03-12 00:35] #91 closed, assigned to DirtyF

[2012-03-12 00:36] DirtyF commented on #81
Trouvé !

[2012-03-12 01:01] DirtyF commented on #81
updated the mailchimp template, waiting for the pull.

[2012-03-12 04:30] thom4parisot commented on #84
What's the link towards home in the nav menu? Is the one containing "Programme", "Comment venir" etc.?

[2012-03-12 04:32] #75 closed, assigned to goulvench

[2012-03-12 04:33] thom4parisot commented on #81
Already pulled it. Pushed it live.

[2012-03-12 07:25] desbenoit commented on #81
? Allo ?

[2012-03-12 08:04] desbenoit commented on #21
Merci =)

[2012-03-12 08:12] Aymkdn commented on #81
Voilà j'ai copié le répertoire ~/www/2011/old/blog/themes/sw2011/img vers ~/www/2011/blog/themes/sw2011/img

Donc le lien refonctionne.

[2012-03-12 09:47] goulvench commented on #23
If we don't translate the speaker descriptions, we need to also be able to tell what language it's in.

[2012-03-12 09:53] DirtyF commented on #23
@goulvench I don't get it it's written in plain text on the page in the meta of the article
example : http://sudweb.fr/2012/talk/from-service-provider-to-software-vendor/

[2012-03-12 09:54] goulvench commented on #23
Just added to the interface using custom fields. If I make it mandatory Wordpress refuses to save the post, strange.
We need to put this information in the HTML.

[2012-03-12 10:13] DirtyF opened #101 "Page should have decent titles"
The home page has no title element, it's kind of embarassing.

It's the same for all pages, we should have "post-title - website-label" at least on every page.

[2012-03-12 10:53] loicm opened #102 "Tagline changed?"
Our tagline is : "Savoir-faire et faire-savoir".

In the header it has been changed and it shoudn't had too ;) Is there a reason?

[2012-03-12 11:00] DirtyF commented on #102
It's a mistake, I'm on it.

On Mon, Mar 12, 2012 at 11:53 AM, Loic Mathaud <
reply@reply.github.com

##

Frank Taillandier

[2012-03-12 11:01] DirtyF commented on #102
Header updated.

[2012-03-12 11:01] #102 closed, assigned to DirtyF

[2012-03-12 13:36] Aymkdn opened #103 "Photo qui fout le camp"
Nath a repéré que sur http://sudweb.fr/2012/talk/testez-les-recruteurs/ la photo de l'orateur n'était pas du tout au bon endroit....

[2012-03-12 14:20] goulvench commented on #101
That's what I said in #69 (including the code), but @oncletom said we should use an SEO plugin instead. We're short on time, let's just use the patch, don't you think?

[2012-03-12 14:22] goulvench commented on #103
C'et très probablement parce qu'on récupère la photo de l'orateur. La conf n'ayant pas de photo, elle se retrouve avec la classe `without-thumbnail` ce qui fait que la photo n'est pas bien positionnée.

[2012-03-12 14:24] goulvench commented on #80
I made changes so that we can start using `.cta` in page content, it won't float or clear stuff. It doesn't stand out much though.

[2012-03-12 14:27] goulvench commented on #84
Well no, these are different pages. I had added a link to the home page in the menu editor for main nav but it doesn't get the `menu-item-home` class it used to, so items are badly spaced out and we've been forced to remove it altogether, thats why you don't see it at all.

[2012-03-12 14:31] thom4parisot commented on #101
Nope, I add the plugin.

[2012-03-12 14:33] goulvench opened #104 "Header h1 should not be links to the current page"
In some pages, http://sudweb.fr/2012/orateurs/ for instance, the h1 contains a link to the current page. Big usability no-no!

[2012-03-12 14:37] thom4parisot commented on #101
Done.

[2012-03-12 14:45] thom4parisot commented on #103
Fixed. Reverted to a state we wanted to avoid.

So right now, we assume to have always a picture for a Talk content. Hints to avoid problems, by order of speed implementation:
- adding a picture for all speakers (some are missing one);
- coding a default thumbnail replacement;
- dig deeper in the thumbnail ID metadata but it's close from a gaz station.

[2012-03-12 14:47] thom4parisot commented on #84
That's cool but really, don't need that for launch.

[2012-03-12 14:47] thom4parisot commented on #104
We will fix that in the next release, not now.

[2012-03-12 14:48] thom4parisot commented on #80
Need for review @DirtyF

[2012-03-12 14:50] thom4parisot commented on #23
I don't get the point on what you wanted @goulvench: there was already a language field.
If you talk about adding the language spoken by the speaker, for the speaker page, sorry but it's another issue. The title of this one is **language** + **talk**

[2012-03-12 14:50] #23 closed, assigned to thom4parisot

[2012-03-12 15:11] DirtyF commented on #103
In case we have no decent picture for a talk, we must provide a default one. We must ask a designer to do this.

[2012-03-12 15:15] thom4parisot commented on #103
Otherwise: http://placekitten.com/726/220

[2012-03-12 16:46] fetard opened #105 "Partners thumbnails are resized, resulting in poor quality"
Partners thumbnails on the bottom of the home page are resized to a 100px width, but the original images are used : so the browser needs to resize it, and the result is a poor image quality.

It should be better to display "pre-resized" thumbnails, using a timthumb-like tool.

[2012-03-12 17:00] desbenoit opened #106 "Remplacer le NOFOLLOW par FOLLOW"
C'est bête mais oups.

[2012-03-12 17:21] thom4parisot commented on #106
Fixed (admin settings).

[2012-03-12 17:21] #106 closed, assigned to thom4parisot

[2012-03-12 17:23] #103 closed, assigned to nobody

[2012-03-12 17:23] #101 closed, assigned to thom4parisot

[2012-03-12 18:28] goulvench opened #108 "Need a field to select speaker description language"
Forking issue #23, some speaker descriptions are in English but the HTML doesn't mention it anywhere. We need to add the lang attribute like we did with talks.

[2012-03-12 18:37] goulvench commented on #105
Changing assignee, I don't know how to do that.

[2012-03-12 18:43] thom4parisot commented on #105
You worked on this part, it was obvious for me you could better understand
the problem than me.

On Mon, Mar 12, 2012 at 1:37 PM, Goulven Champenois <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement et performances Web
http://case.oncle-tom.net/  @oncletom http://twitter.com/oncletom
Mobile : +336 08 40 35 49

[2012-03-12 19:09] goulvench commented on #105
Weird, [the codex](http://codex.wordpress.org/Function_Reference/add_image_size) says that passing false as 4th argument results in soft (proportional) cropping. Maybe using `set_post_thumbnail_size` messed things up, as studiograsshopper.ch [explains](http://www.studiograsshopper.ch/web-development/wordpress-featured-images-add_image_size-resizing-and-cropping-demo/):

[2012-03-12 21:55] thom4parisot commented on #105
Or maybe the problem is related that we added the size after uploading the
picture.
I feel that WP has some troubles with that kind of behavior.

On Mon, Mar 12, 2012 at 2:09 PM, Goulven Champenois <
reply@reply.github.com

##

_Thomas PARISOT_
Conseil, dveloppement et performances Web
http://case.oncle-tom.net/  @oncletom http://twitter.com/oncletom
Mobile : +336 08 40 35 49

[2012-03-12 22:22] fetard commented on #105
You can resize the thumbnails even if you added a size after the image upload : use the Resize Thumbnails plugin

[2012-03-12 22:38] thom4parisot commented on #105
Can you confirm it is better now?

[2012-03-12 22:49] samy commented on #105
Yes it is !

[2012-03-12 22:50] thom4parisot commented on #105
Cool!

[2012-03-12 22:50] #105 closed, assigned to thom4parisot

[2012-03-13 11:17] rudyrigot opened #110 "No speaker for a conference? No problem!"
I added a conference "Question à l'ombre" for the friday night, without a speaker, and the page takes ages to build, before eventually giving up.

When i unpublish the conference, everything goes back to normal.
When i link it to a speaker, everything goes back to normal.
So, yeah, the problem definitely comes from the missing link.

To do : accept to list and show a speakerless conference ; and d

[2012-03-13 14:29] DirtyF opened #111 "Contact form failed to send message"
http://sudweb.fr/2012/contact/

When I try to send a message when I'm not connected on the Wordpress, I get this message :

Failed to send your message. Please try later or contact the administrator by another method.

[2012-03-13 14:36] MoOx commented on #111
plugin wp contact form 7 ?
Y'aura pas un champ obligatoire en trop ? genre user id ou un truc du genre ?

[2012-03-13 15:20] DirtyF commented on #111
Le formulaire part bien quand on est connecté à l'admin, mais échoue si on est pas authentifié

[2012-03-13 22:31] thom4parisot commented on #111
Rectifié ; c'était lié à Hyper Cache.

Solution : raccourcir la durée du cache.
En étant connecté ça posait pas de soucis puisque le cache est désactivé dans ce cas de figure.

[2012-03-13 22:31] #111 closed, assigned to thom4parisot

[2012-03-13 22:32] thom4parisot commented on #81
Donc on peut fermer.

[2012-03-13 22:32] #81 closed, assigned to thom4parisot

[2012-03-13 22:49] #80 closed, assigned to goulvench

[2012-03-13 22:57] thom4parisot commented on #110
It should be ok. Please close the issue if so.

[2012-03-13 23:12] rudyrigot commented on #110
Well, from what i see, someone did it already, and it's working greatly.

End of story! :)

[2012-03-13 23:12] #110 closed, assigned to thom4parisot

[2012-03-14 03:32] thom4parisot commented on #76
Closing the issue.

[2012-03-14 03:32] #76 closed, assigned to goulvench

[2012-03-15 22:05] brunobord opened #113 "Maximum distances from hotels to venue(s)"
give people indications on "how far the hotels are from/to the two different venues"

[2012-03-15 22:08] brunobord commented on #113
(patch is on the way...)

[2012-03-15 22:13] brunobord commented on #113
forme: Hotel distance Vendredi distance Samedi
- Baragnon : **V: 850m**, S: 1,3km
- Excelsior : V: 1km, **S: 650m**
- Chartreuse : V: 1km, **S:500m**
- Ours blanc : V: 400m, **S: 290m**
- H. Sainte-Claire : **V: 1,4km**, S: 2km
- Castellane : **V: 600m**, S: 700m
- Royal Wilson : **V: 550m**, S: 750m
- Héliot : V: 700m, **S: 350m**
- Victor Hugo : V: 400m, **S: 290m**
- Capitôle Hôtel: **V: 68m**,

[2012-03-15 22:38] DirtyF commented on #113
Thank you Sir Bruno, we'll see how to add this on the page.

[2012-03-16 09:01] desbenoit opened #114 "Colonne - Actualité"
Quand on est dans un article la colonne de droite devrait être, dans l'idéal, une liste des article.
Merci

[2012-03-16 09:02] desbenoit opened #115 "Add space on news page between articles"
Please add more space between two articles

[2012-03-16 10:03] DirtyF opened #116 "Add styles for blockquotes"
Blockquotes need some styling, for instance on this article containing a Confusion quote.
http://sudweb.fr/2012/cette-drole-de-journee-quest-lelaboratoire-vue-par-pablo-pernot/

or for speakers like this :
http://sudweb.fr/2012/speaker/nicolas-klotz/

[2012-03-16 10:08] DirtyF commented on #115
I think we got to update all vertical rhythm in general, don't you think ?

[2012-03-16 10:59] desbenoit commented on #115
frank : yes, I do

Le 16 mars 2012 à 11:08, Frank Taillandierreply@reply.github.com a écrit :

[2012-03-16 14:47] thom4parisot commented on #113
The best would be to have a table with 1 row per hotel and 1 column per information.

<table>
  <thead>
  <tr>
    <th>Étoiles</th>
    <th>Hôtel</th>
    <th>Adresse</th>
    <th>Distance vers journée du vendredi</th>
    <th>Distance vers journée du samedi</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 étoile</td>
      <td>Hôtel Croix Baragnon</td>
      <td>17 rue Croix Baragnon</td>

[2012-03-17 10:12] #116 closed, assigned to desbenoit

[2012-03-18 16:09] loicm opened #119 "Enhance sponsor pages (logo and title)"
Actually sponsors pages are buggy, see : http://sudweb.fr/2012/sponsor/open-studio/

We need wether to delete the title or move it so as it will not be over the logo anymore.

[2012-03-18 22:08] DirtyF commented on #113
updated the page http://sudweb.fr/2012/comment-venir/dormir-a-toulouse/

[2012-03-18 22:08] #113 closed, assigned to DirtyF

[2012-03-19 10:22] thom4parisot commented on #119
OK, this is due to the fact we use the same layout as any other content.

Do we have to display the logo according to the level of sponsoring?

[2012-03-19 10:29] loicm commented on #119
On theses pages we display the logo for every sponsor. No need to adapt according the level of sponsoring.

[2012-03-19 10:53] thom4parisot commented on #70
I guess we're done on this one.

[2012-03-19 10:53] #70 closed, assigned to thom4parisot

[2012-03-21 14:11] goulvench commented on #119
Done, see pull request #123

[2012-03-21 14:14] goulvench commented on #114
Pas sûr de saisir ce qui est demandé là... Quand tu dis "dans un article", tu veux dire "quand on affiche une actualité" ? Et d'où sort cette colonne de droite ? Voulais-tu parler de la sidebar de gauche, ou faut-il en rajouter une autre à droite ?

[2012-03-21 14:29] #104 closed, assigned to goulvench

[2012-03-21 14:30] #119 closed, assigned to thom4parisot

[2012-03-21 14:48] #115 closed, assigned to DirtyF

[2012-03-21 14:59] desbenoit commented on #114
C'est celle de gauche au temps pour moi.

Le 21 mars 2012 à 15:14, Goulven Champenoisreply@reply.github.com a écrit :

[2012-03-21 15:36] thom4parisot opened #126 "Using KSS for Documentation"
cf. https://github.com/kneath/kss

[2012-03-22 08:43] julienw opened #127 "ajouter un séparateur entre les orateurs dans les schedules"
cf http://sudweb.fr/2012/schedule/elaboratoire/, pour par exemple "Une bibliothèque de composants IHM ergonomiques et accessibles", on a les deux noms qui sont mis bout à bout sans séparateur.

[2012-03-27 09:27] desbenoit commented on #114
Étant donné le nombre d'actualités à paraitre, j'aurai bien aimé que l'on puisse avoir une liste des billets actualités plutôt que le programme qui s'affiche dans le menu vertical à gauche. C'est possible ?

[2012-03-27 09:32] desbenoit opened #129 "deuxième conférence sur la home"
Est-il possible d'afficher une seconde conférence sur la home pour équilibre avec l'actualité ? Merci :)

[2012-03-27 10:12] DirtyF commented on #129
On pourrait en effet afficher une conférence et un laboratoire

2012/3/27 desbenoit <
reply@reply.github.com

##

Frank Taillandier

[2012-03-27 10:20] desbenoit commented on #129
Ce serait top !

Le 27 mars 2012 à 12:12, Frank Taillandier a écrit :

[2012-03-27 14:02] DirtyF opened #130 "Support for event microdata on the schedule"
http://www.data-vocabulary.org/Event/

[2012-03-28 10:10] thom4parisot commented on #129
Le plus rapide pour l'instant est d'en afficher 2.

Je ne me souviens plus si ça avait été facile de requêter sur des critères supplémentaires (type la journée).
J'imagine que c'est de l'ordre du possible ;-)

[2012-03-28 21:52] DirtyF commented on #129
Encore plus rapide n'afficher qu'une actualité ;)

@oncletom attention j'ai fait ça en live pendant le conf call en éditant directement le fichier sur Github

[2012-04-04 10:12] rik opened #132 "Favicon could look better"
The current favicon has some ugly white borders. It could look way better without those.

[2012-04-04 10:31] goulvench commented on #132
At least it doesn't weigh 400k ;-)

We'll look into that, as time allows.

[2012-04-06 09:37] loicm opened #133 "Missing link to Sud Web 2011 in the footer"
We don't have any link to the website of the last year edition of Sud Web.

We could have a menu "Previous editions" listing them in the footer.

[2012-04-08 14:21] DirtyF commented on #132
Removed white borders, now it's looks better indeed :
http://cl.ly/2o3A3O121g101n072U2U

[2012-04-08 14:21] #132 closed, assigned to DirtyF

[2012-04-08 14:44] rik commented on #132
Thanks. I think the favicon would greatly benefit from alpha transparency. Either with a PNG or ICO file.
http://stackoverflow.com/questions/1344122/favicon-png-vs-favicon-ico-why-should-i-use-pngs-instead-of-icos

This is really a nitpick though. Anyway, I learned about alpha transparency support in .ico files.

[2012-04-08 14:45] rik commented on #132
I really meant to link to http://stackoverflow.com/a/1344379

[2012-04-08 15:00] DirtyF commented on #132
@Rik http://sudweb.fr/favicon.ico and http://sudweb.fr/favicon.png have alpha transparency

[2012-04-08 15:09] DirtyF commented on #133
Link to the previous edition added

[2012-04-08 15:09] #133 closed, assigned to DirtyF

[2012-04-08 18:45] DirtyF commented on #114
C'est possible oui, c'est même la base de Wordpress : afficher une liste de billets ;)

[2012-04-15 16:11] #108 closed, assigned to thom4parisot

[2012-05-08 18:15] DirtyF opened #135 "Arrows breaks on Firefox 15alpha"
The little arrow under the call to action in the header is broken on the latest release of Firefox.

It's because the skew property isn't supported anymore in the CSS Transform specification. Use skewX and skewY instead.

Thanks to Anthony Ricaud for reporting this bug.

[2012-05-28 08:02] #135 closed, assigned to goulvench

[2012-05-28 10:22] fvsch opened #137 "Faux-bold sur certains titres"
La deuxième règle `@font-face` dans `wp-sudweb-theme/assets/fonts/din-alternatebold/stylesheet.css` déclare une fonte Bold comme `font-weight:normal`.

Par conséquent, lorsque cette fonte est utilisée pour un texte en `font-weight:bold`, certains navigateurs et OS vont fabriquer du faux-bold à la laideur plus ou moins prononcée. C’est le cas sur Mac avec Opera, Firefox et Chrome, par exemple. On p

[2012-05-28 10:24] fvsch opened #138 "Taille des titres h1"
Sur http://sudweb.fr/2012/actualites/ par exemple les titres H1 utilisent les styles par défaut du navigateur. Cela donne du 1.5em dans Firefox et Chrome et du 2em dans Opera, car les premiers ont une règle du type `::moz-any(article) h1 {font-size:1.5em}` et pas ce dernier.

Pas un gros bug mais ça peut être intéressant d'harmoniser un peu.

[2012-05-28 10:27] thom4parisot commented on #129
Bon en fait on pouvait clôturer.

[2012-05-28 10:27] #129 closed, assigned to thom4parisot

[2012-05-28 10:53] rik commented on #137
Tu peux proposer un patch ? :)

[2012-05-28 11:27] fvsch commented on #137
Non, parce que je n’aurai pas le temps de tester et/ou me documenter, pour savoir laquelle des deux solutions proposées est pertinente.

[2012-05-28 12:39] oncletom opened #139 "Add a video URL field"
And display in front through oEmbed.

[2012-05-28 12:42] oncletom opened #140 "Talk "Online Slides" field"
An URL towards remote slides (can be an online presentation as HTML, slideshare, SpeakerDeck or any oEmbed support).
- no oEmbed: displayed as a link
- with oEmbed: displayed inline

[2012-05-28 12:42] oncletom opened #141 "Talk "Embed Slides" field"
For "file upload" (like PDF) stuff.

[2012-05-28 12:47] oncletom opened #142 "Edition Management"
Handle edition (2011, 2012 etc.) through custom rewriting or multisite – especially doable if linking to another site is fine.

[2012-05-28 15:21] #137 closed, assigned to DirtyF

[2012-05-31 13:15] DirtyF opened #145 "Contact form"
Contact form don't send mails. Tried to clean the cache but it doesn't solve the problem.

[2012-05-31 13:28] thom4parisot commented on #145
It seems to be somewhat related to cache. Reduced from 1 day to 6 hours.

[2012-05-31 13:28] #145 closed, assigned to thom4parisot

[2012-06-02 14:37] DirtyF commented on #139
According to http://codex.wordpress.org/Embeds you only need to add an URL to your content but even with the autoEmbed option checked, it doesn't seems to work right out of the box.

[2016-08-28 07:27] #138 closed

[2016-08-28 07:27] #130 closed

[2017-10-09 07:37] #142 closed

[2017-10-09 07:37] #141 closed

[2017-10-09 07:38] #140 closed

[2017-10-09 07:38] #139 closed

[2017-10-09 07:38] #34 closed

[2020-08-25 08:52] oncletom opened #151 "404 Not found"
Quand je me rends sur https://sudweb.fr/2012/, je suis accueilli par ce contenu :

[code]

Est-ce le résultat attendu ?